body {
    background-color: $color-black-500;
    color: $color-white-700;
    font-size: $font-size;
    line-height: 1.5;
    font-family: $primary-font;
    text-transform: uppercase;
}

a {
    color: $color-white-700;
}