body {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: $font-size;
    line-height: 1.5;
    font-family: $primary-font;
    text-transform: uppercase;
}

a {
    color: $secondary-color;
}