@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
$primary-font: 'Raleway', sans-serif;
$font-size: 16px;

$primary-color: #1A1313;
$secondary-color: #F5F5FA;
$supplementary-color: #FFC107;
$supplementary-color2: #9C27B0;

