@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
$primary-font: 'Raleway', sans-serif;
$font-size: 16px;

$color-white-500: #ffffff;
$color-black-500: #1A1313;
$color-black-300: #666666;
$color-white-700: #F5F5FA;
$color-yellow-700: #FFC107;
$color-yellow-500: #FFEB3B;
$color-pink-800: #9C27B0;

